<section>
   <h2 id="about-me" style="font-size: 30px";>About the Club</h2>
   <hr class="bar"/>
   <div class="about-lock">
      <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
         <div class="flipper">
            <div class="front">
               <div class="face-img"></div>
            </div>
            <div class="back">
               <div class="face1-img"></div>
            </div>
         </div>
      </div>
      <div class="glyph-icon flaticon-cogwheel28"></div>
      <div class="glyph-icon flaticon-computer1"></div>
      <div class="glyph-icon flaticon-hosting"></div>
      <div class="glyph-icon flaticon-computers13"></div>
   </div>
   <div class="blurb">
      <p>The Information Security (Infosec) Club at San José State University was founded in late 2013 by a group of aspiring computer security professionals comprised of undergraduate, graduate, and alumni students from different majors with a strong sense of mission and a shared vision to increase awareness of the current issues surrounding cyber security. To accomplish this, the Infosec Club offers opportunities for members to gain hands-on experience practicing relevant skills such as reverse engineering, forensic analysis, exploit development, toolkit creation, vulnerability discovery, code auditing, and more.</p>
   </div>
   <div class="skill-lock"></div>
</section>