<div id="container1" class="arrow"></div>
	<a id="container" href="/" class="logo">  </a>
</div>
<header id="home">
   <nav>
	   <a href="#about-me">About the Club</a>
	   <a href="#Experenice">Experience</a>
	   <a href="#Blog">Blog</a>
	   <a href="#Details">Contact the Club</a>
	   <a href="http://sjsuinfosec.com/Events">Events</a>
	   <a href="http://sjsuinfosec.com/Resources">Resources</a>
	   <a href="http://sjsuinfosec.com/FAQ">FAQ</a>
   </nav>
   <h1><span>SJSU InfoSec Club</span></h1>
   <p class="kicker">  Capture the Flags // Reverse Engineering // Exploitation</p>
</header>